@media screen and (max-width: 1400px) {
    .container {
        padding: 0 60px;
    }

    section.packages {
        .package-header {
            flex-direction: column;
            text-align: center;

            .package-header-content {
                margin-bottom: 60px;

                .package-heading {
                    margin-bottom: 10px;

                    br {
                        display: none;
                    }
                }
            }
        }

        .package-slider {
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: auto !important;
            width: auto;
        }
    }

    section.testimonial {

        .testimonial-slider {
            .slider {
                margin: 0 5px !important;
                gap: 20px !important;
            }

            .slide-item {
                text-align: center;

                p {
                    display: inline-block;
                    margin: auto;
                }
            }
        }
    }

   
}

@media screen and (max-width: 1170px) {
    .container {
        width: 1000px;
        padding: 0 60px;
    }

    header {
        .navbar {
            width: 350px;

            .nav-link {
                font-size: 18px;
            }
        }

        .auth {
            .login,
            .register {
                font-size: 18px !important;
            }
        }
    }

    section.hero {
        flex-wrap: wrap-reverse;
        justify-content: center !important;

        .hero-content {
            margin-top: 80px;
            text-align: center;

            .hero-heading {
                font-size: 44px;
                line-height: 54px;
            }

            .hero-text {
                font-size: 20px;
                line-height: 24px;
                margin: 40px auto;
            }

            .search-container {
                margin: 0 auto;
            }
        }

        .hero-image {
            margin-left: 40px;
            margin-top: 40px;
        }
    }

    section.testimonial {
        overflow: visible;

        .testimonial-slider {
            margin: 80px auto 0;

            .left-nav,
            .right-nav {
                display: none;
            }

            .slider {
                gap: 10px !important;
                width: 700px !important;
                height: auto;
                flex-wrap: wrap;
                justify-content: center;
                margin: auto !important;

                .slide-item {
                    width: 70%;
                    margin: auto;
                }
            }
        }
    }

    footer {
        flex-wrap: wrap;
        gap: 80px;
        height: auto;
        margin: auto;

        .brand-details, .newsletter-col {
            width: 100%;
            text-align: center;
            margin-right: 0;

        }

        .newsletter-col {
            form {
                display: inline-block;
                margin: auto;
            }
        }

        .support-col, .company-col, .about-col {
            text-align: center;
            margin: 0 30px;
        }

        
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: 850px;
    }

    section.about {
        flex-wrap: wrap;
        justify-content: center !important;
        gap: 30;

        .about-image {
            width: 550px;
        }

        .about-content {
            text-align: center;
            width: 600px !important;

            .about-heading {
                margin: 10px auto !important;
            }

            .about-insight {
                margin: 4px auto !important;
            }
        }
    }

    section.packages {
        overflow: visible;
        margin-bottom: 250px !important;

        .package-slider {
            .slide-item {
                margin: 0;
                text-align: center;

                .rating {
                    margin: auto;
                }

                .slide-footer {
                    justify-content: center !important;

                    .price,
                    .package-duration {
                        margin: 5px 10px;
                    }
                }
            }
        }
    }

    section.tours {
        margin-bottom: 60px!important;
        
        .tour-card-container {
            margin-top: 30px;
            flex-wrap: wrap;
            justify-content: center;
            height: auto;

            .tour-card {
                width: 254px;
                height: 290px;
                margin: 20px;

                .tour-card-image {
                    width: 234px;
                    height: 190px;
                }
            }
        }
    }

    footer {
        padding-top: 60px!important;
    }
}

@media screen and (max-width: 860px) {
    .container {
        width: 700px;
    }

    .auth {
        display: none;
    }

    section.tours {
        padding: 0 30px;

        .tours-heading {
            font-size: 40px;
            line-height: 50px;
        }
    }
}

@media screen and (max-width: 760px) {
    .container {
        width: 600px;
    }

    .support-col, .company-col, .about-col {
        display: none;
    }
}
