@media screen and (max-width: 1400px) {
    section.hero {
        padding: 0 60px;
    }
}

@media screen and (max-width: 1170px) {
    .container {
        width: 1000px;
        padding: 0 60px;
    }

    header {
        .navbar {
            width: 350px;

            .nav-link {
                font-size: 18px;
            }
        }

        .auth {

            .login , .register {
                font-size: 18px!important;
            }
        }
    }

    section.hero {
        flex-wrap: wrap-reverse;
        justify-content: center!important;
       
        .hero-content {
            margin-top: 80px;
            text-align: center;

            .hero-heading {
                font-size: 44px;
                line-height: 54px;
            }

            .hero-text {
                font-size: 20px;
                line-height: 24px;
                margin: 40px auto;
            }

            .search-container {
                margin:  0 auto;
            }
        }

        .hero-image {
            margin-left: 40px;
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: 850px;
    }
}

@media screen and (max-width: 860px) {

    .container {
        width: 700px;
    }
    
    .auth {
        display: none;
    }
}

@media screen and (max-width: 760px) {

    .container {
        width: 600px;
    }
    
}







