@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

$bg-1: #f5f5f5;
$bg-nav: #fff;

$color-1: #000;
$color-grey: #808080;
$color-skyblue: #112b3c;
$color-pink: #e61c5d;
$color-orange: #FFBD39;
$color-search-container: #fff;

* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg-1;
    color: $color-1;
    font-family: "Barlow", sans-serif;
}

.container {
    margin: auto;
    padding: 0 135px;
}

.btn {
    padding: 18px 24px;
    border-radius: 45px;
    border: none;
    color: $bg-nav;
    background-color: $color-pink;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1440px) {
    .container {
        width: 1440px;
    }
}

// ================== Header section ======================

header {
    background-color: $bg-nav;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.site-logo {
    width: 55px;
    height: 29px;
    cursor: pointer;
}

.navbar {
    width: 455px;
    display: flex;
    justify-content: space-between;
    gap: 40;
}

.nav-item {
    position: relative;
}

.navbar .active::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 4px;
    background: $color-pink;
    border-radius: 30px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
}

.nav-link {
    color: $color-grey;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.navbar .active .nav-link {
    color: $color-skyblue;
}

.auth .login,
.auth .register {
    cursor: pointer;
}

.auth .login {
    background-color: transparent;
    color: $color-grey;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.auth .register {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin-left: 6px;
}

// ============== Hero section ===============
section.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 84px auto;
}

.hero-content {
    width: 570px;
    height: 433px;
}

.hero-heading {
    font-size: 64px;
    line-height: 76.8px;
    font-weight: 700;
    color: $color-skyblue;
    text-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
}

.hero-text {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 400;
    color: $color-grey;
    margin: 32px 101px 32px 0;
}

.search-container {
    width: 479px;
    height: 80px;
    background-color: $color-search-container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
    border-radius: 58px;
    padding: 16px 27px;
}

.location-search {
    width: 161px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 32px;
}

.pre-search-icon {
    width: 22px;
    height: 22px;
}

.pre-search-icon img {
    width: 100%;
    height: 100%;
}

.search-content {
    display: flex;
    flex-direction: column;
    height: 34px;
}

.location-search .search-content {
    width: 123px;
    margin-left: 16px;
}

.dropdown {
    display: flex;
    justify-content: start;
    align-items: center;
}

.search-text {
    font-size: 12px;
    font-weight: 600;
    line-height: 14.4px;
    color: $color-grey;
    margin-right: 6px;
}

.dropdown img {
    cursor: pointer;
}

.selected-data {
    margin-top: 6px;
}

.selected-data h6 {
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 700;
    color: $color-skyblue;
}

.divider {
    width: 1px;
    height: 24px;
    background-color: $color-grey;
    opacity: 0.24;
}

.date-search {
    width: 109px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 32px;
}

.search-button {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.search-button img {
    width: 100%;
    height: 100%;
}

.hero-image {
    width: 445px;
    height: 579px;
    margin-right: 25px;
}

.hero-image img {
    width: 100%;
    height: 100%;
}

// =================== About section =================
section.about {
    display: flex;
    margin: 26px auto;
    justify-content: space-between;
    align-items: center;
    gap: 133px;

    .about-image {
        width: 566px;
        width: 675px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .about-content {
        width: 454.52px;
        height: 410.6px;
        margin-right: 16.48px;

        .about-title {
            color: $color-pink;
            font-size: 16px;
            line-height: 19px;
            font-weight: 700;
            letter-spacing: 0.1rem;
        }

        .about-heading {
            color: $color-skyblue;
            font-size: 48px;
            line-height: 58px;
            font-weight: 700;
            margin: 4px 0;
        }

        .about-details {
            font-style: 20px;
            font-weight: 400;
            line-height: 22px;
            margin: 20px 0;
            color: $color-grey;
        }

        .about-insight {
            display: flex;
            width: 472px;
            height: 86px;
            justify-content: space-between;
            align-items: center;
            margin-top: 4px;

            .insight-item {
                width: 110px;
                margin-right: 24px;

                .insight-value {
                    font-size: 40px;
                    line-height: 48px;
                    font-weight: 700;
                    color: $color-pink;
                }

                .insight-details {
                    font-weight: 400;
                    line-height: 19px;
                    font-size: 16px;
                    color: $color-grey;
                }
            }

            .insight-item:last-child {
                margin-left: 0;
            }
        }
    }
}

// ================= Packages section ===============
section.packages {
    margin: 96px auto;
    height: 719px;

    .package-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;

        .package-header-content {
            width: 591px;

            .package-title {
                color: $color-pink;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.1rem;
                margin-bottom: 4px;
            }

            .package-heading {
                color: $color-skyblue;
                font-size: 48px;
                line-height: 58px;
            }
        }

        .slide-navigation {
            width: 108px;
            height: 48px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .slide-icon {
                width: 48px;
                height: inherit;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .package-slider {
        height: 500px;
        width: 1170px;
        display: flex;
        overflow: hidden;

        .slide-item {
            margin-right: 30px;
            width: 370px;
            filter: drop-shadow(0px 12px 40px rgba(0, 0, 0, 0.04));
            transition: all 0.5s step-start;

            .slide-image {
                width: inherit;
                height: 300px;
            }

            .slide-content {
                padding: 20px 26px 28px 24px;

                .slide-heading {
                    font-size: 20px;
                    line-height: 26.4px;
                    font-weight: 700;
                    color: $color-skyblue;
                }

                .client {
                    font-size: 14px;
                    line-height: 16.8px;
                    font-weight: 400;
                    margin: 8px 0;
                    color: $color-grey;
                }

                .rating {
                    width: 49.55px;
                    height: 25px;
                    display: flex;
                    background: rgba(255, 189, 57, 0.12);
                    border-radius: 38px;
                    padding: 4px 6px;
                    align-items: center;
                    
                    .img {
                        width: 15.55px;
                        height: 15.64;
                    }

                    .rating-value {
                        width: 20px;
                        height: 17px;
                        margin-left: 2px;
                        color: $color-orange;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                    }
                }

                .slide-footer {
                    margin-top: 8px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .price {
                        color: $color-pink;
                        font-weight: 700;
                        line-height: 31.68px;
                        font-size: 24px;
                    }

                    .package-duration {
                        line-height: 15.84px;
                        font-size: 12px;
                        font-weight: 500;
                        color: $color-grey;
                    }
                }
            }
        }

        .slide-item:last-child {
            margin-right: 0;
        }
    }

    .nav-end {
        flex-direction: row-reverse;

        .slide-item:first-child {
            margin-right: 0;
        }
    }
}


